html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-image: url(priedai/space.jpg);
    background-size: cover;
    background-position: center;
}

.game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.factory {
    justify-content: center;
    padding: 1em;
    margin: 1em;
    color: rgb(9, 173, 83);
    text-align: center;
}

.factory img {
    width: 7.3em;
    display: flex;
}

.main-game {
    text-align: center;
    position: relative;
}

.main-game .click-zone {
    background-image: url(priedai/ufo.png);
    background-size: contain;
    width: 200px;
    height: 200px;
    cursor: pointer;
    position: absolute;
    transition: top 0.5s, left 0.5s;
}

.main-game .score {
    font-size: 3em;
    margin: 1em;
    color: red;
}

button {
    border-radius: 10px;
    width: 10em;
    background-image: url(priedai/metal.jpg);
    background-size: cover;
    color: white;
}

.volume-control {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

#volume-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 10px;
    background: linear-gradient(to right, #4CAF50, #FF5722); 
    border-radius: 5px;
    outline: none;
    transition: opacity 0.2s;
    opacity: 0.9;
}

.settings {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}

#settings-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 1000;
    border-radius: 5px;
    background-image: url(priedai/metal.jpg);
    background-size: cover;
    color: white;
}

#settings-menu label {
    margin-right: 10px;
    font-size: 14px;
    font-weight: bold;
}

.level, .weapons {
    font-size: 1.5em;
    color: white;
    margin-top: 10px;
    text-align: center;
}

#weapon-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

#weapon-list li {
    color: yellow;
}
