html, body {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(priedai/space.jpg);
}

.game {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.factory {
    justify-content: center;
    padding: 1em;
    margin: 1em;
    color: white;
    text-align: center;
}
.factory img{
    width: 7.3em;
    display: flex;
}

.main-game {
    text-align: center;
}

.main-game .click-zone {
    background-image: url(priedai/ufo.png);
    background-size: contain;
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.main-game .score{
    font-size: 3em;
    margin: 1em;
    color: red;
} 